@page "/"

<PageTitle>Index</PageTitle>

@if (_nodes is not null)
{
    <ul>
        @foreach (var node in _nodes.Take(3))
        {
            <li>
                @node.Zone
            </li>
        }
    </ul>
}

@if (_items is not null)
{
    <ul>
        @foreach (var item in _items.Take(3))
        {
            <li>
                @item.Name
            </li>
        }
    </ul>
}
