@page "/"

<PageTitle>Index</PageTitle>

@if (nodes?.nodes is not null)
{
    <ul>
        @foreach (var node in nodes.nodes.Take(3))
        {
            <li>
                @node.zone
            </li>
        }
    </ul>
}

@if (items?.items is not null)
{
    <ul>
        @foreach (var item in items.items.Take(3))
        {
            <li>
                @item.name
            </li>
        }
    </ul>
}
